<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="author" content="Romans" />

        <% if (logged == true) { %>
            <link rel="stylesheet" href="./servers.css" />
        <% } else {%>
            <link rel="stylesheet" href="./servers_nologged.css" />
        <% } %>
        <link rel="stylesheet" href="./scrollbar.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="mainContainer">
            <div class="messagesContainer">
                <div class="loginContainer">
                    <% if (logged == true) { %>
                        <div class="logout"><b><a href="/">[-</a></b></div>
                    <% } else {%>
                        <a href="/">Back to Login Page</a>
                    <% } %>
                    <p class="loggedMsg"><%= loggedMsg %></p>
                </div>
                <div class="counterContainer">
                    <% if (logged == true) { %>
                        <div class="serverCounter"><%= serverCounter %></div>
                        <div class="textCounter">Total server you <br />are participating in</div>
                    <% } %>
                </div>
            </div>
            <% if (logged == true) { %>
                <p class="serverListText">Server List</p>
                <div class="verticalList">
                    <table>
                        <% if (guildsList) { %> 
                            <% guildsList = guildsList.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)) %>
                            <% for (var [key, value] of guildsList.entries()) { %>
                                <tr>
                                    <td class="serverNumber" ><%= (key+1) %></td>
                                    <td class="serverIcon" style="background: no-repeat url(<%= value.iconImage; %>); background-size: contain;"></td>
                                    <td class="serverName"><%= value.name %></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </table>
                </div>
            <% } %>
        </div>
    </body>
</html>
