<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="author" content="Romans" />

        <% if (logged == true) { %>
            <link rel="stylesheet" href="./servers.css" />
        <% } else {%>
            <link rel="stylesheet" href="./servers_nologged.css" />
        <% } %>
        <link rel="stylesheet" href="./scrollbar.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <div class="msgs">
                <p class="serverCounter"><%= serverCounter %></p>
                <div class="loginContainer">
                    <p class="loggedMsg"><%= loggedMsg %></p>
                    <% if (logged == true) { %>
                        <a href="/">Logout</a>
                    <% } else {%>
                        <a href="/">Back to Login Page</a>
                    <% } %>
                </div>
            </div>
            <div class="verticalList">
                <table>
                    <% if (guildsList) { %> 
                        <% guildsList = guildsList.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)) %>
                        <% for (var [key, value] of guildsList.entries()) { %>
                            <tr>
                                <td><%= (key+1) %></td>
                                <td><%= value.name %></td>
                                <td><%= value.description %></td>
                            </tr>
                        <% } %> 
                    <% } %>
                </table>
            </div>
        </div>
    </body>
</html>
